body,div,ul,form,h1,h2,h3,h4,p,dl,dt,dd {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑",arial,Verdana,sans-serif;
	font-size: 12px;
}

li {
	list-style: none;
}

img {
	border: none;
}

input {
	outline: none;
}

a {
	display: inline-block;
	text-decoration: none;
	color: #000;
}