/* ------- This is the CSS Reset ------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, 
abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr,
th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu,
nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* ------- HTML5 display-role reset for older browsers ------- */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*----------内 容----------*/
body {
    font-family: gotham, Hiragino Sans GB, STHeiti, Microsoft Yahei, helvetica, arial, sans-serif;
    text-align: center;
    color: #fff;
    background: #f3f3f3;
}

.section {
    background-image: url(sun.png);
    background-repeat: no-repeat;
    background-position: -40px -80px;
}

h1 {
    padding-top: 50px;
    font-size: 60px;
    font-family: gotham, Hiragino Sans GB, STHeiti, Microsoft Yahei, helvetica, arial, sans-serif;
    color: #747474;
}

h2 {
    margin-top: 30px;
    font-size: 30px;
    font-family: gotham, Hiragino Sans GB, STHeiti, Microsoft Yahei, helvetica, arial, sans-serif;
    color: #747474;
}

.container {
    margin: 30px auto;
    width: 380px;
    border: 1px solid #dedede;
    background-color: #fff;
}

form {
    margin: 0 auto;
    width: 320px;
    padding: 20px 30px;
    text-align: center;
}

form>input {
    width: 290px;
    height: 17px;
    margin-top: 15px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #cacaca;
    font-family: gotham, Hiragino Sans GB, STHeiti, Microsoft Yahei, helvetica, arial, sans-serif;
    font-size: 14px;
    color: #747474;
}

form>input:-moz-placeholder { color: #9b9b9b; opacity:1}
form>input::-moz-placeholder { color: #9b9b9b; opacity:1}
form>input:-ms-input-placeholder { color: #9b9b9b; }
form>input::-webkit-input-placeholder { color: #9b9b9b; }

form>input:focus {
    outline: none;
    box-shadow: 0 0 1px 1px #5e84a6;
}

.error {
    display: none;
    margin: -10px 3px 0 3px;
    padding: 15px 20px 8px;
    overflow-x: hidden;
    overflow-wrap: break-word;
    border: 1px solid #e4a197;
    font-size: 12px;
    text-align: left;
    color: #b92219;
    background-color: #ffd1d1;
}

.checkbox {
    margin-top: 15px;
    text-align: left;
}

label {
  display: inline-block;
  font-size: 12px;
  color: #747474;
}

button {
    cursor: pointer;
    width: 316px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 12px;
    background: #2dbe60;
    border-radius: 8px;
    border: 1px solid #1fae52;
    font-family: gotham, Hiragino Sans GB, STHeiti, Microsoft Yahei, helvetica, arial, sans-serif;
    font-size: 16px;
    color: #fff;
}

button:hover {
    background-color: #28a956;
}

button:active {
    background-color: #23954b;
}